.md, .ios {
    page-login {
        .login_page_container {
            &-logo_container {
                display: flex;
                justify-content: center;
                margin: 20% 0 20% 0;
            }
            background-color: map-get($colors, fondo-principal);
            .card_container {
                display: flex;
                flex-wrap: wrap;
                &-user_image {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    margin-bottom: 5%;
                    padding: 3%;
                }
                ion-card-content {
                    width: 100%;
                    ion-grid {
                        ion-row {
                            margin: 0 0 10% 0;
                            ion-item {
                                margin: 0;
                                padding: 0;
                                text-align: center;
                                .item-inner {
                                    border-bottom-color: #eeba00;
                                    box-shadow: inset 0 -1px 0 0 #eeba00;
                                }
                                ion-label {
                                    color: black;
                                    font-size: 14px;
                                    margin: 0 0 5px 0;
                                }
                                ion-input {
                                    input {
                                        text-align:center;
                                        font-size: 12px;
                                    }
                                }
                                &:first-child {
                                    margin-bottom: 5%;
                                }
                                &:focus {
                                    border-bottom-color: map-get($colors, color-secundario);
                                }
                            }
                            button {
                                background-color: map-get($colors, color-secundario);
                            }
                        }
                    }
                }
            }
        }

    }
}
