<ion-content padding class="login_page_container">
  <figure class="login_page_container-logo_container">
    <img src="assets/imgs/logo_asistance.png">
  </figure>
  <ion-card class="card_container">
    <ion-card-header class="card_container-user_image" text-center>
      <img src="assets/icon/userLogo.png">
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label stacked>RUT</ion-label>
            <ion-input type="text" [attr.maxlength]="9" [(ngModel)]="rut" solo-rut placeholder="Ingrese su RUT sin puntos ni guión"
              required (blur)="formatearRut(1); validarRut()" (focus)="formatearRut(0)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Clave</ion-label>
            <ion-input type="password" maxLength="30" [(ngModel)]="clave" placeholder="Ingrese su Clave" required></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <button colors="color-secundario" ion-button block (click)="login()">Iniciar Sesión</button>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>