<ion-header>
  <ion-navbar>
    <button menuToggle ion-button end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Asis/Tance {{ nombreMarca !== ''? ' / ' + nombreMarca : '' }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div id="map"></div>
</ion-content>