<!--
  Generated template for the CambioClavePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Asis/Tance / Cambio de Clave
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="cambio_clave_page_container">
  <ion-card class="card_container">
    <ion-card-header class="card_container-title">
      <h2>Para cambiar tu clave de acceso <br/>completa el siguiente formulario:
      </h2>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label stacked>Clave Actual</ion-label>
            <ion-input type="password" maxLength="30" [(ngModel)]="claveActual" placeholder="Ingrese su Clave Actual" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Nueva Clave</ion-label>
            <ion-input type="password" maxLength="30" [(ngModel)]="nuevaClave" placeholder="Ingrese su Nueva Clave" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Confirmar Nueva Clave</ion-label>
            <ion-input type="password" maxLength="30" [(ngModel)]="nuevaClaveConfirm" placeholder="Confirme su Nueva Clave" required></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <button colors="color-secundario" ion-button block (click)="cambiarClave()">Cambiar Clave</button>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>