.md, .ios {
    page-cambio-clave {
        .cambio_clave_page_container {
            background-color: map-get($colors, fondo-principal);
            .card_container {
                display: flex;
                flex-wrap: wrap;
                margin-top: 15%;
                &-title {
                    text-align: center;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 5%;
                }
                ion-card-content {
                    width: 100%;
                    ion-grid {
                        ion-row {
                            margin: 0 0 10% 0;
                            ion-item {
                                margin: 0;
                                padding: 0;
                                text-align: center;
                                .item-inner {
                                    border-bottom-color: #eeba00;
                                    box-shadow: inset 0 -1px 0 0 #eeba00;
                                }
                                ion-label {
                                    color: black;
                                    font-size: 14px;
                                    margin: 0 0 5px 0;
                                }
                                ion-input {
                                    input {
                                        text-align:center;
                                        font-size: 12px;
                                    }
                                }
                                margin-bottom: 5%;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                &:focus {
                                    border-bottom-color: map-get($colors, color-secundario);
                                }
                            }
                            button {
                                background-color: map-get($colors, color-secundario);
                            }
                        }
                    }
                }
            }
        }

    }
        
}
