.ios, .md {
    page-mapa {
        ion-content {
            background: rgb(229, 227, 223);
            #map {
              width: 100%;
              height: 100%;
              opacity: 0;
              transition: opacity 150ms ease-in;
              display: block;
              &.show-map{
                opacity: 1;
              }
            }
            ion-fab {
                button {
                    width: 80px;
                    height: 80px;
                    ion-icon {
                        font-size: 70px;
                        color: white;
                    }
                }
            }
        }
    }
}
