<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle ion-button end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Asis/Tance {{ nombreMarca !== ''? ' / ' + nombreMarca : '' }} 
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div id="map"></div>
  <ion-fab bottom left>
    <button (click)="marcarAsistencia()" ion-fab><ion-icon name="ios-checkmark-circle-outline"></ion-icon></button>
  </ion-fab>
</ion-content>