.md, .ios {
    page-home {
        .home_container {
            display: flex;
            h5 {
                color: white;
                text-align: center;
            }
            background-color: map-get($colors, fondo-principal);
            .fixed-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .fab_container {
                    text-align: center;
                    color: white;
                    position: relative;
                    &:first-child {
                        margin: 15% 0 10% 0;
                    }
                    button {
                        margin: 0 0 10% 0;
                    }
                    ion-fab-list[side=top] {
                        flex-direction: row;
                        justify-content: center;
                        margin: 0 0 110% 0;
                        width: 100%;
                        .fab_btn_list_container {
                            width: 100px;
                            height: 100px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-content: center;
                            text-align: center;
                            &:first-child {
                                margin: 0 45% 0 0;
                            }
                            &:last-child {
                                margin: 0 0 0 45%;
                            }
                            .btn_fab_list--disabled {
                                background-color: gray;
                                color: white;
                            }
                        }
                    }
                    ion-fab-list[side=bottom] {
                        flex-direction: row;
                        justify-content: center;
                        margin: 110% 0 0 0;
                        width: 100%;
                        .fab_btn_list_container {
                            width: 100px;
                            height: 100px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-content: center;
                            text-align: center;
                            &:first-child {
                                margin: 0 45% 0 0;
                            }
                            &:last-child {
                                margin: 0 0 0 45%;
                            }
                            .btn_fab_list--disabled {
                                background-color: gray;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

    }
}
