<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle ion-button right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Asis/Tance
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="home_container" padding>
  <ion-fab class="fab_container" #fabLlegada>
    <button (click)="closeFabList(fabColacion)" ion-fab><ion-icon name="icono_arrive_time"></ion-icon></button>
    <span fab_container-label>Hora<br/>Llegada</span>
    <ion-fab-list side="top">
      <div class="fab_btn_list_container">
        <button (click)="irAMarcar('ingresoIn')" [ngClass]="{ 'btn_fab_list--disabled' : !btnIngreso_in }" ion-fab><ion-icon name="ios-log-in-outline"></ion-icon></button>
        <span>Entrada</span>
      </div>
      <div class="fab_btn_list_container">
        <button (click)="irAMarcar('ingresoOut')" [ngClass]="{ 'btn_fab_list--disabled' : !btnIngreso_out }" ion-fab><ion-icon name="ios-log-out-outline"></ion-icon></button>
        <span>Salida</span>
      </div>
    </ion-fab-list>
  </ion-fab>
  <h5>Seleccione el tipo de marcado de asistencia que realizará</h5>
  <ion-fab class="fab_container" #fabColacion>
    <button (click)="closeFabList(fabLlegada)" ion-fab><ion-icon name="icono_eat_time"></ion-icon></button>
    <span>Hora<br/>Colación<br/>(Opcional)</span>
    <ion-fab-list side="bottom">
      <div class="fab_btn_list_container">
        <button (click)="irAMarcar('colacionIn')" [ngClass]="{ 'btn_fab_list--disabled' : !btnColacion_in }" ion-fab><ion-icon name="ios-log-in-outline"></ion-icon></button>
        <span>Entrada</span>
      </div>
      <div class="fab_btn_list_container">
        <button (click)="irAMarcar('colacionOut')" [ngClass]="{ 'btn_fab_list--disabled' : !btnColacion_out }" ion-fab><ion-icon name="ios-log-out-outline"></ion-icon></button>
        <span>Salida</span>
      </div>
    </ion-fab-list>
  </ion-fab>

</ion-content>