<!--
  Generated template for the VerPdfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Asis/Tance / Visor PDF</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <pdf-viewer [src]="pdfUrl" [autoresize]="true" [original-size]="false" style="display: block;">
  </pdf-viewer>
</ion-content>