.md, .ios {
    page-index {
        ion-menu {
            ion-content {
                div {
                    ion-avatar {
                        display: inline-block;
                        max-width: 30%;
                        vertical-align: super;
                    }
                    .text_container {
                        display: inline-block;
                        max-width: 60%;
                        vertical-align: text-bottom;
                        width: 100%;
                    }
                }
                .logout_btn {
                    position: absolute;
                    bottom: 0;
                    margin: 0 0 5% 0;
                    .item-inner {
                        border: none;
                    }
                }
            }
        }
    }
}
