<ion-menu [content]="content" persistent="true" side="right">
  <ion-content>
    <div padding>
      <ion-avatar>
        <img src="assets/icon/userLogo.png">
      </ion-avatar>
      <div class="text_container" *ngIf="usuario !== null">
        <ion-label text-center>{{ usuario !== null ? usuario.Nombres : ''}}</ion-label>
        <ion-label text-center>{{ usuario !== null ? usuario.Apellido_P : ''}} {{usuario !== null ? usuario.Apellido_M : ''}}</ion-label>
        <ion-label text-center>{{ rutUsuario | rutFormatter}}</ion-label>
      </div>
    </div>
    <ion-list>
      <button *ngFor="let page of pages" (click)="openPage(page)" menuClose ion-item>
        <ion-icon item-start [name]="page.icon"></ion-icon>{{page.title}}
      </button>
    </ion-list>
    <button (click)="cerrarSesion()" class="logout_btn" ion-item><ion-icon item-start name="log-out"></ion-icon>Cerrar Sesión</button>
  </ion-content>
</ion-menu>

<ion-nav [root]="principalPage" #content></ion-nav>