// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-icon {
    &[class*="icono_"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 70%;
        height: 70%;
    }
    &[class*="icono_arrive_time"] {
        mask-image: url(../assets/icon/arrive_time.png);
        margin: 0 auto;
    }
    &[class*="icono_eat_time"] {
        mask-image: url(../assets/icon/eat_time.png);
        margin: 0 auto;
    }
    &[class*="icono_historial_colacion_in"] {
        mask-image: url(../assets/icon/historial_icons/breaktime-in.png);
        margin: 0 auto;
    }
    &[class*="icono_historial_colacion_out"] {
        mask-image: url(../assets/icon/historial_icons/break-time-out.svg);
        margin: 0 auto;
    }
    &[class*="icono_historial_work_in"] {
        mask-image: url(../assets/icon/historial_icons/work-time.svg);
        margin: 0 auto;
    }
    &[class*="icono_historial_work_out"] {
        mask-image: url(../assets/icon/historial_icons/exit-work.png);
        margin: 0 auto;
    }
}