<!--
  Generated template for the HistorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle ion-button right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Asis/Tance / Historial de Marcados
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #3c414c">
  <section class="header_container">
    <span class="header_container-title">Seleccione una fecha para realizar su busqueda.</span>
    <div class="search_container">
      <ion-item class="input_container">
        <ion-label>Fecha</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Listo" [min]="initYearMonth" [max]="maxDate" displayFormat="MM/YYYY"
          pickerFormat="MMMM YYYY" [(ngModel)]="inputFecha"></ion-datetime>
      </ion-item>
      <button (click)="getHistorial()" id="btnSearch" ion-button item-right>
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
    </div>
  </section>
  <section class="historial_content" [ngClass]=" { 'historial_content--hidden' : mostrarError, '' : !mostrarError } ">
    <ion-slides *ngFor="let dia of registros" class="slides_container" pager="true" spaceBetween="50">
      <ion-slide *ngFor="let ciclo of dia.ciclos; let i = index;" class="card_container">
        <article class="card_header">
          <span class="card_header-title">Ciclo {{ i + 1 }}</span>
          <span class="card_header-date">{{ dia.fecha | date:'dd-MM-yyyy' }}</span>
        </article>
        <section class="card_body">
          <article *ngIf="ciclo.entrada.hora !== '' && ciclo.entrada.coordX !== '' && ciclo.entrada.coordY !== ''"
            class="container_info_btn">
            <button (click)="verMapa(ciclo.entrada.coordX, ciclo.entrada.coordY, '1')" mini ion-fab color="color-secundario">
              <ion-icon name="icono_historial_work_in"></ion-icon>
            </button>
            <div class="info_btn">
              <span class="info_btn-text">Entrada</span>
              <span class="info_btn-text">{{ ciclo.entrada.hora }}</span>
            </div>
          </article>
          <article *ngIf="ciclo.entradaColacion.hora !== '' && ciclo.entradaColacion.coordX !== '' && ciclo.entradaColacion.coordY !== ''"
            class="container_info_btn">
            <button (click)="verMapa(ciclo.entradaColacion.coordX, ciclo.entradaColacion.coordY, '2')" mini ion-fab
              color="color-secundario">
              <ion-icon name="icono_historial_colacion_in"></ion-icon>
            </button>
            <div class="info_btn">
              <span class="info_btn-text">Entrada<br />Colación</span>
              <span class="info_btn-text">{{ ciclo.entradaColacion.hora }}</span>
            </div>
          </article>
          <article *ngIf="ciclo.salidaColacion.hora !== '' && ciclo.salidaColacion.coordX !== '' && ciclo.salidaColacion.coordY !== ''"
            class="container_info_btn">
            <button (click)="verMapa(ciclo.salidaColacion.coordX, ciclo.salidaColacion.coordY, '3')" mini ion-fab color="color-secundario">
              <ion-icon name="icono_historial_colacion_out"></ion-icon>
            </button>
            <div class="info_btn">
              <span class="info_btn-text">Salida<br />Colación</span>
              <span class="info_btn-text">{{ ciclo.salidaColacion.hora }}</span>
            </div>
          </article>
          <article *ngIf="ciclo.salida.hora !== '' && ciclo.salida.coordX !== '' && ciclo.salida.coordY !== ''" class="container_info_btn">
            <button (click)="verMapa(ciclo.salida.coordX, ciclo.salida.coordY, '0')" mini ion-fab color="color-secundario">
              <ion-icon name="icono_historial_work_out"></ion-icon>
            </button>
            <div class="info_btn">
              <span class="info_btn-text">Salida</span>
              <span class="info_btn-text">{{ ciclo.salida.hora }}</span>
            </div>
          </article>
        </section>
      </ion-slide>
    </ion-slides>
  </section>
  <section class="historial_content" [ngClass]=" { 'historial_content--hidden' : !mostrarError, '' : mostrarError } ">
    <ion-card class="mensaje_error_container" text-center>
      <ion-card-header>
        ¡Lo sentimos!
      </ion-card-header>
      <ion-card-content>
        No se ha encontrado registro alguno para la busqueda realizada.
      </ion-card-content>
    </ion-card>
  </section>
  <ion-fab *ngIf="registros.length > 0" bottom right>
    <button (click)="verPermisosDeDescarga()" style="border: 3px solid white;" ion-fab color="primary">
      <ion-icon name="ios-download-outline"></ion-icon>
    </button>
  </ion-fab>
</ion-content>