.ios, .md {
    page-historial {
        // background: map-get($colors, fondo-principal);
        .header_container {
            text-align: center;
            &-title {
                margin: 0 0 0 0;
                color: white;
            }
            .search_container {
                margin: 10px 0 0 0;
                display: flex;
                .input_container {
                }
                #btnSearch {
                    background-color: map-get($colors, color-secundario);
                    width: 20%;
                    margin: 0;
                    color: black;
                    font-size: 20px;
                    height: auto;
                }
    
            }
        }
        .historial_content {
            &--hidden {
                display: none;
            }
            padding: 0 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
                .mensaje_error_container {
                    margin-top: 30%;
                }
                .slides_container {
                    margin-top: 10px;
                    margin-bottom: 30px;
                    height: 180px;
                    padding: 5px;
                    .swiper-container {
                        height: 210px;
                    }
                    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
                        button {
                            border: 1px solid white;
                            background: map-get($colors, color-secundario);
                        }
                    }
                    .swiper-container {
                        overflow: initial;
                    }
                    .card_container {
                        background: white;
                        text-align: left;
                        border-radius: 4px;
                        height: 170px;
                        box-shadow: 1px 1px 1px rgba(white, 0.6);
                        max-width: 100%; 
                        align-items: flex-start;
                        padding: 10px;
                        .slide-zoom {
                            display:block;
                            text-align: left;
                            height:55%;
                        }
                        .card_header {
                            display: flex;
                            justify-content: space-between;
                            margin: 10px 5px 10px 5px;
                            font-size: 12px;
                            &-title {
                            }
                            &-date {
                            }
                        }
                        .card_body {
                            display: flex;
                            justify-content: space-around;
                            font-size: 12px;
                            text-align: center;
                            height: 145%;
                            .container_info_btn {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                button {
                                    width: 45px;
                                    height: 45px;
                                    ion-icon {
                                        font-size: 30px;
                                        height: 60%;
                                        color: black;
                                    }
                                }
                                .fab[mini] {
                                    margin: 0;
                                }
                                .info_btn {
                                    margin-top: 20%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    height: 30%;
                                }
                            }
                        }
                        .info_container {
                            display:flex;
                            flex-flow:column;
                            justify-content:space-between;
                            height:100%;
                            .info_box {
                                display: flex;
                                justify-content: space-between;
                                list-style: none;
                                margin: 0 0 0 0;
                                padding: 0;
                                font-size:14px;
                                &-key {
                                    margin: 0;
                                }
                                &-value {
                                    margin: 0;
                            }
                        }
                    }
                }
            }
        }
        ion-fab {
            button {
                width: 80px;
                height: 80px;
                ion-icon {
                    font-size: 50px;
                    color: white;
                }
            }
        }
    }
}
